<section class="dice-roll second-background">
    <div class="roll">
        <div class="name">{{type}}</div>
        <div class="{{Successtype}} content" style="text-align: center;">
            <span style="text-decoration: underline;" class="big-number">{{rollResult}}</span></br>
            <span style="font-size: 14px; text-decoration: none;">({{localizeResult}})</span></br>
        </div>
    </div>
</section>