<form>
    <div class="form-group">
        <label><b>{{localize "hibern.Divers.EnnemiRoll"}}</b></label>
        <input name="Seuil" type="number" value="14" placeholder="{{localize "hibern.Divers.EnnemiRoll"}}" data-dtype="Number" />
    </div>
</form>